<h1>Workout Tracker</h1>
<form method="post">
	<fieldset>
		<legend>New Entry:</legend>
		<label for="name">Name: </label>
		<input type="text" name="name"><br>
		<label for="reps">Reps: </label>
		<input type="number" name="reps"><br>
		<label for="weight">Weight: </label>
		<input type="number" name="weight"><br>
		<label for="date">Date (YYYY-MM-DD): </label>
		<input type="text" name="date"><br>
		<label for="lbs">Pounds or Kilograms: </label><br>
		<input type="radio" name="lbs" value="1" checked> Pounds
		<input type="radio" name="lbs" value="0"> Kilograms<br>
		<input type="submit" name="createEntry" value="Create Entry">
	</fieldset>
</form>

<h2>Workout Data</h2>
<table>
	<thead>
		<tr>
			<th>Name
			<th>Reps
			<th>Weight
			<th>Date
			<th>Pounds
	<tbody>
		{{#each results}}
		<tr>
			<td>{{this.name}}
			<td>{{this.reps}}
			<td>{{this.weight}}
			<td>{{this.date}}
			<td>{{this.lbs}}
		{{/each}}
</table>
