<h1>Workout Tracker</h1>
<form method="post">
	<fieldset>
		<legend>New Entry:</legend>
		<label for="name">Name: 
			<input type="text" name="name">
		</label>
		<br>
		<label for="reps">Reps: 
			<input type="number" name="reps">
		</label>
		<br>
		<label for="weight">Weight: 
			<input type="number" name="weight">
		</label>
		<br>
		<label for="date">Date (YYYY-MM-DD): 
			<input type="text" name="date">
		</label>
		<br>
		<label for="lbs">Pounds or Kilograms: <br>
			<label><input type="radio" name="lbs" value="1" checked> Pounds</label>
			<label><input type="radio" name="lbs" value="0"> Kilograms</label>
		</label>
		<br>
		<input type="submit" name="createEntry" value="Create Entry">
	</fieldset>
</form>
{{#if results}}
<h2>Workout Data</h2>
<table>
	<thead>
		<tr>
			<th>Name
			<th>Reps
			<th>Weight
			<th>Date
			<th>Pounds
	<tbody>
		{{#each results}}
		<tr>
			<td>{{this.name}}
			<td>{{this.reps}}
			<td>{{this.weight}}
			<td>{{this.date}}
			<td>{{this.lbs}}
		{{/each}}
</table>
{{/if}}