<h1>Workout Tracker</h1>
<h2>Add an Exercise</h2>
<form method="post" id="createEntryForm">
	<fieldset>
		<legend>New Entry:</legend>
		<label>Name: 
			<input type="text" id="name" name="name">
		</label>
		<br>
		<label>Reps: 
			<input type="number" id="reps" name="reps">
		</label>
		<br>
		<label>Weight: 
			<input type="number" id="weight" name="weight">
		</label>
		<br>
		<label>Date (YYYY-MM-DD): 
			<input type="text" id="date" name="date">
		</label>
		<br>
		<label>Pounds or Kilograms: <br>
			<label><input type="radio" id="lbs" name="lbs" value="1" checked> Pounds</label>
			<label><input type="radio" name="lbs" value="0"> Kilograms</label>
		</label>
		<br>
		<input type="submit" id="createEntry" name="createEntry" value="Create Entry">
	</fieldset>
</form>
<h2>Exercise Data</h2>
<table>
	<thead>
		<tr>
			<th>Name
			<th>Reps
			<th>Weight
			<th>Date
			<th>Units
			<th>Edit or Delete
	<tbody id="tableBody">
	<!--
		{{#each results}}
		<tr>
			<td>{{this.name}}
			<td>{{this.reps}}
			<td>{{this.weight}}
			<td>{{this.date}}
			<td>{{this.lbs}}
			<td>
				<form method="post">
					<input type="hidden" name="id" value="{{this.id}}">
					<input type="submit" class="edit" name="edit" value="Edit">
					<input type="submit" class="delete" name="delete" value="Delete">
				</form>
		{{/each}}
	-->
</table>
<p id="status"></p>

<script src="/javascript/script.js"></script>